body {
    padding: 0;
    margin: 0;
}

.menu_mob {
    display: none;
}

.container {
    padding: 0;
    margin: 0 auto;
    max-width: 80%;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background: #7b68ee;
}

.menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
}

.menu a:hover {
    text-decoration: underline;
    color: #fd92ff;
}

.menu_item a {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #e0ffff;
    text-decoration: none;
}

.active a {
    color: black;
}

.header {
    background: #fd92ff;
}

.header_content {
    text-align: right;
    display: flex;
    justify-content: space-evenly;
}

.my_img {
    display: block;
    margin: 35px auto 35px 100px;
    width: 20%;
    border-radius: 20px;
    box-shadow: 5px 5px 100px 1px lightcyan;
}

.header_innertext {
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header_title {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin-bottom: 0px;
}

.header_text {
    margin-top: 0px;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #3a2be2;
    margin-bottom: 0px;
}

.header_age {
    
    margin-top: 0px;
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: BlueViolet;
}

.block_title {
    text-align: center;
}

.job {
    padding-bottom: 80px;
    background: #7b68ee;
}

.job_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.job_title {
    color: #e6e0ff;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 25px;
}


.job_item {
    padding: 40px;
    background-color: #92ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    margin: 0 20px;
}

.job_year {
    padding-top: 20px;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #7300ff;
    margin-bottom: 20px;
    text-align: center;
}

.job_name {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #000;
    line-height: 22px;
    text-align: center;
}

.job_position {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #292929;
    line-height: 22px;
    text-align: center;
    font-style: italic;
}

.ngaek {
    display: block;
    width: 80%;
    transition: 1s;
}

.ngaek:hover{
    outline: 2px dashed #7b68ee; 
    outline-offset: -10px;
}

.learning {
    padding-bottom: 80px;
    background: #fee3f7;

}

.learning_title {
    color: #7300ff;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 25px;
}

.learning_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.learning_item {
    padding: 40px;
    background-color: #acafff;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.learning_year {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #e0ffff;
    margin-bottom: 20px;
    text-align: center;
}

.learning_name {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.learning_otdel {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #292929;
    line-height: 22px;
    text-align: center;
    font-style: italic;
    margin-bottom: 15px;
}

.learning_left_text {
    color: #000;
}

.learning_right_text {
    color: BlueViolet;
    padding-left: 30px;
}

.courses {
    padding-bottom: 80px;
    background: #7b68ee;
}

.courses_title {
    color: #e6e0ff;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 25px;
}

.courses_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.courses_item {
    padding: 20px;
    background-color: #92ffff;
    display: flex;
    flex-direction: column;
    opacity: 0.8;
    margin: 10px 10px;
    border-radius: 20px;
}

.courses_year {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #7300ff;
    margin-bottom: 15px;
    text-align: center;
}

.courses_name {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #000;
    line-height: 22px;
    text-align: center;
}

.courses_place {

    padding-top: 18px;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #292929;
    line-height: 22px;
    text-align: center;
    font-style: italic;
}


.certificates {
    padding-bottom: 80px;
    background: #fee3f7;
}

.certificates_title {
    color: #7300ff;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 25px;
}

.certificates_inner {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin: 0 20px;

}

.cetrificate_img {
    width: 100%;
}

.contacts {
    background: #fd92ff;
}

.contacts_title {
    color: #000;
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.02em;
    margin: 0;
    padding-top: 40px;
}


.contacts_icon-box {
    display: flex;
    justify-content: space-evenly;
    max-width: 570px;
    padding-top: 20px;
    margin: 0 auto;
}

.contacts_item {
    text-align: center;
    width: 130px;
}

.contacts_item i {
    color: #7300ff;
    font-size: 21px;
}

.contacts_text {
    margin-bottom: 12px;
}

.contacts_text a {

    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #7300ff;
    text-decoration: none;
    transition: 0.3s;
}

.contacts_text a:hover {
    color: #e0ffff;
    text-decoration: underline;
}

@media (min-width: 300px) and (max-width: 900px) {

    .menu_desktop {
        display: none;
    }


    .menu_mob {
        display: flex;
        flex-direction: column;
        background: #fd92ff;
    }

    .menu_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .menu li {
        padding: 10px 0;
    }

    .menu {
        display: none;
        text-align: center;
        height: 100%;
        padding-bottom: 20px;

    }

    .menu a {
        margin: 0;
        color: #7300ff;
        background: #92ffff;
        border: solid 2px blueviolet;
        padding: 7px;
    }

    .menu_burger {
        display: block;
        overflow: hidden;
        cursor: pointer;
        margin: 0;
        padding: 0;
        width: 40px;
        height: 40px;
        font-size: 0;
        background-color: #e0ffff;
        border-radius: 5px;
        position: relative;
    }

    .menu_burger span {
        display: block;
        position: absolute;
        background-color: #000;
        height: 4px;
        width: 30px;
        top: 18px;
        left: 5px;
        right: 5px;
        transition: background 0s 0.3s;

    }

    .menu_burger span:after,
    .menu_burger span::before {
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #000;
        content: '';
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
    }

    .menu_burger span:after {
        top: -10px;
    }

    .menu_burger span:before {
        bottom: -10px;
    }

    .menu_burger.close span {
        background: none;
    }

    .menu_burger.close span:after {
        top: 0px;
        transform: rotate(45deg);
    }

    .menu_burger.close span:before {
        bottom: 0px;
        transform: rotate(-45deg);
    }

    .container {
        width: 100%;
    }

    .header_title {
        font-size: calc(24px + 16 * (100vw / 1280));
    }

    .header_text {
        font-size: calc(18px + 16 * (100vw / 1280));
    }

    .header_age {
        font-size: calc(18px + 16 * (100vw / 1280));
    }

    .my_img {
        margin-left: 50px;
    }

    .header_innertext {
        padding-right: 20px;
    }
}